{% extends "base.html" %} {% block title%} index {% endblock %} {% block
content%}
<div class="card mb-3 bg-black">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-unstyled mt-5 text-warning">
          <li>
            <i class="fa-solid fa-xmark"></i>&nbsp;<i
              class="fa-solid fa-xmark"
            ></i
            >&nbsp;<i class="fa-solid fa-xmark"></i>
          </li>
          <li>
            <i class="fa-solid fa-xmark"></i>&nbsp;<i
              class="fa-solid fa-xmark"
            ></i>
          </li>
          <li><i class="fa-solid fa-xmark"></i></li>
        </ul>
        <h5 class="card-title text-warning fs-1 fw-bolder">
          The Future`s Bright,<br />Business is Here
        </h5>
        <p class="card-text text-white">
          Enterpreneurship has great prominence in the modern<br />economic
          market. A lot of countries are encouraging<br />
          their citizens to come up with innovative business ideas
        </p>
        <button type="button" class="btn btn-warning">Register Now</button>
        <ul class="list-unstyled mt-5 text-warning">
          <li><i class="fa-solid fa-xmark"></i></li>
          <li>
            <i class="fa-solid fa-xmark"></i>&nbsp;<i
              class="fa-solid fa-xmark"
            ></i>
          </li>
          <li>
            <i class="fa-solid fa-xmark"></i>&nbsp;<i
              class="fa-solid fa-xmark"
            ></i
            >&nbsp;<i class="fa-solid fa-xmark"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled text-warning float-end">
        <li>
          <i class="fa-solid fa-xmark"></i>&nbsp;<i
            class="fa-solid fa-xmark"
          ></i
          >&nbsp;<i class="fa-solid fa-xmark"></i>
        </li>
      </ul>
      <div
        class="image-container position-relative"
        style="width: 400px; height: 300px; border: 1px solid #ccc"
      >
        <img
          src="static/car1.jpg"
          alt="Image 1"
          class="overlap-image image1 position-absolute"
          style="height: 100px; top: 0; left: 0; z-index: 1"
        />
        <img
          src="static/car2.jpg"
          alt="Image 2"
          class="overlap-image image2"
          style="height: 100px; top: 50; left: 100px; z-index: 2"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
