{% extends "base.html" %} {% block title%} index {% endblock %} {% block
content%}

<div class="bloc" id="home">
  <div class="card text-bg-dark">
    <img
      src="static/homep.jpg"
      class="card-img img-fluid"
      alt="..."
      style="height: 100vh; object-fit: cover"
    />
    <div class="card-img-overlay text-center" style="top: 250px;">
      <!-- <div style="float: right">
        <img
          src="static/delivery.png"
          class="card-img"
          alt="..."
          style="height: 200px; width: 300px"
        />
      </div> -->
      <h3>
        Your Onestop Shop for
        <span class="text-warning">construction</span> Materials
      </h3>
      <h1 class="card-title fw-bold display-4 text-white">SUNSET SALE</h1>
      <h2 class="text-white">UP TO 25% OFF</h2>
      <p class="card-text mb-4">Selected Building & Construction Materials</p>
      <!-- <a
        href="products#sunset"
        class="btn btn-outline-light text-black text-decoration-none"
        >SHOP</a
      > -->
      <!--  -->
      <!-- <div class="mt-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Trust Pilot</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card’s content.
            </p>
          </div>
        </div> 
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Google</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card’s content.
            </p>
          </div>
        </div>
        
      </div> -->
    </div>
  </div>
</div>

<div class="container bloc">
  <div class="card mb-3 mt-5 border-0">
    <div class="row g-0 align-items-center">
      <div class="col-md-6 gallery">
        <img
          src="static/aboutpage.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
        <img
          src="static/dealers.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body px-3 px-md-5">
          <h3 class="card-title fs-1 fw-bolder">Specialisation</h3>
          <p class="card-text text-secondary">
            We are a one-stop shop offering essential tools, materials, and
            equipment for construction, repairs, and home improvement needs. We
            provide a wide range of products including tools, building
            materials, paint, plumbing, and electrical supplies for home
            improvement, repairs, and construction projects.
          </p>
          <button type="button" class="btn btn-secondary">
            <a href="#category" class="text-decoration-none text-white"
              >Inquire More</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-secondary bloc">
  <div class="container mt-5">
    <h1 class="py-5 text-center fw-bold">Featured Product Categories</h1>
    <div class="">
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <div class="card pop-image">
            <div class="card text-bg-dark border-0">
              <img src="static/equipment.jpg" class="card-img" alt="..." />
              <div class="card-img-overlay">
                <h5 class="card-title mt-5">
                  Construction & Building Materials
                </h5>
                <p class="card-text">
                  Products: Cement, sand, nails, steel bars, roofing sheets,
                  bricks, pipes
                </p>
                <div class="d-grid">
                  <button
                    class="btn btn-outline-light text-black"
                    type="button"
                  >
                    Go to
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card pop-image">
            <div class="card text-bg-dark border-0">
              <img src="static/tools.jpg" class="card-img" alt="..." />
              <div class="card-img-overlay">
                <h5 class="card-title mt-5">Tools and Equipment</h5>
                <p class="card-text">
                  Examples: Drills, saws, hammers, spanners, welding machines
                </p>
                <div class="d-grid">
                  <button
                    class="btn btn-outline-light text-black"
                    type="button"
                  >
                    Go to
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card pop-image">
            <div class="card text-bg-dark border-0">
              <img src="static/electrical.jpg" class="card-img" alt="..." />
              <div class="card-img-overlay">
                <h5 class="card-title mt-5">Electrical Supplies</h5>
                <p class="card-text">
                  Products: Wires, sockets, circuit breakers, bulbs, meters,
                  switches
                </p>
                <div class="d-grid">
                  <button
                    class="btn btn-outline-light text-black"
                    type="button"
                  >
                    Go to
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-light my-5">
        <a href="products#moreproducts" class="text-decoration-none text-black"
          >More Products</a
        >
      </button>
    </div>
  </div>
</div>

<div class="container bloc">
  <div class="card mb-3 mt-5 border-0 pop-imag">
    <div class="row g-0">
      <div class="col-md-7">
        <div class="card-body">
          <h3 class="card-title fs-1 fw-bolder">Contact Us</h3>
          <p class="card-text text-secondary" style="max-width: 600px">
            Contact us for building materials, tools, plumbing supplies,
            electricals, roofing sheets, and expert hardware advice. We're ready
            to assist!
          </p>
          <button type="button" class="btn btn-secondary">More Info</button>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="static/dealers.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<!-- product carousel -->
<div class="container mt-5 bloc" id="category">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- 1 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/real.jpg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Construction & Real Estate</h5>
                  <p class="card-text">
                    Who: Contractors, builders, property developers Needs:
                    Cement, steel bars, nails, roofing sheets, tools,
                    electricals, plumbing materials
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/diy.jpeg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Homeowners & DIY Enthusiasts</h5>
                  <p class="card-text">
                    Who: Individuals doing home repairs, improvements, or small
                    projects Needs: Paint, brushes, hammers, locks, light
                    fixtures, garden tools
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/technician.jpeg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Technicians and Tradespeople</h5>
                  <p class="card-text">
                    Who: Electricians, plumbers, carpenters, masons, welders
                  Needs: Specialized tools, wires, switches, pipes, adhesives,
                  safety gear
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 1e -->
      </div>
      <div class="carousel-item">
        <!-- 2 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/industry.jpg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3"> Manufacturing & Industrial Facilities</h5>
                  <p class="card-text">
                     Who: Factories and industrial plants Needs: Power tools,
                  lubricants, fasteners, PPE, electrical controls, machinery
                  spares
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/school.jpg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Hospitals & Schools</h5>
                  <p class="card-text">
                    Who: Maintenance departments in institutions Needs: Electrical
                  supplies, plumbing parts, safety equipment, paint, tools
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/supermarket.jpeg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Retail Shops & Supermarkets</h5>
                  <p class="card-text">
                     Who: Businesses setting up or maintaining shop infrastructure
                  Needs: Shelving brackets, locks, signage tools, lighting, hand
                  tools
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2e -->
      </div>
      <div class="carousel-item">
        <!-- 3 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/office.jpg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Offices & Commercial Buildings</h5>
                  <p class="card-text">
                    Who: Facility managers, property managers Needs: Maintenance
                  tools, door locks, bathroom fittings, lighting
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/farm.jpeg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Agriculture & Farming</h5>
                  <p class="card-text">
                       Who: Small to large-scale farmers Needs: Fencing materials,
                  irrigation pipes, water tanks, wheelbarrows, hoes, solar
                  equipment
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card pop-image">
              <div class="card text-bg-dark border-0">
                <img src="static/hotel.jpg" class="card-img" alt="..." />
                <div class="card-img-overlay">
                  <h5 class="card-title mt-3">Hotels & Apartments</h5>
                  <p class="card-text">
                    Who: Maintenance staff in hospitality Needs: Bathroom
                  fittings, lighting, toolkits, paint, plumbing spares
                  </p>
                  <div class="d-grid">
                    <button
                      class="btn btn-outline-light text-black"
                      type="button"
                    >
                      Go to
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3e -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
