{% extends "base.html" %} {% block title%} index {% endblock %} {% block
content%}
<style>
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L4.5 8l6.146 6.354a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
  }
</style>
<style>
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L4.5 8l6.146 6.354a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
  }
</style>
<div class="" id="home">
  <div class="card text-bg-dark">
    <img
      src="static/homep.jpg"
      class="card-img img-fluid"
      alt="..."
      style="height: 100vh; object-fit: cover"
    />
    <div class="card-img-overlay" style="top: 500px; left: 100px">
      <div style="float: right">
        <img
          src="static/delivery.png"
          class="card-img"
          alt="..."
          style="height: 200px; width: 300px"
        />
      </div>
      <h1 class="card-title fw-bold display-4 text-white">SUNSET SALE</h1>
      <h2 class="text-white">UP TO 25% OFF</h2>
      <p class="card-text mb-4">Selected Building & Construction Materials</p>
      <a
        href="products#sunset"
        class="btn btn-outline-light text-black text-decoration-none"
        >SHOP</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="card mb-3 mt-5 border-0">
    <div class="row g-0 align-items-center">
      <div class="col-md-6">
        <img
          src="static/aboutpage.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body px-3 px-md-5">
          <h3 class="card-title fs-1 fw-bolder">Specialisation</h3>
          <p class="card-text text-secondary">
            We are a one-stop shop offering essential tools, materials, and
            equipment for construction, repairs, and home improvement needs. We
            provide a wide range of products including tools, building
            materials, paint, plumbing, and electrical supplies for home
            improvement, repairs, and construction projects.
          </p>
          <button type="button" class="btn btn-secondary">
            <a href="#category" class="text-decoration-none text-white"
              >Inquire More</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1 class="py-5">Featured Product Categories</h1>
  <div class="">
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <div class="card h-100">
          <img src="static/equipment.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Construction & Building Materials</h5>
            <p class="card-text">
              Products: Cement, sand, nails, steel bars, roofing sheets, bricks,
              pipes
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid">
              <button class="btn btn-primary" type="button">Go to</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card h-100">
          <img src="static/tools.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Tools and Equipment</h5>
            <p class="card-text">
              Examples: Drills, saws, hammers, spanners, welding machines
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid">
              <button class="btn btn-primary" type="button">Go to</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card h-100">
          <img src="static/electrical.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Electrical Supplies</h5>
            <p class="card-text">
              Products: Wires, sockets, circuit breakers, bulbs, meters,
              switches
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid">
              <button class="btn btn-primary" type="button">Go to</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <button type="button" class="btn btn-secondary my-5">
    <a href="products#moreproducts" class="text-decoration-none text-white">More Products</a>
  </button>
</div>

<div class="container">
  <div class="card mb-3 mt-5 border-0">
    <div class="row g-0">
      <div class="col-md-7">
        <div class="card-body">
          <h3 class="card-title fs-1 fw-bolder">Contact Us</h3>
          <p class="card-text text-secondary" style="max-width: 600px">
            Contact us for building materials, tools, plumbing supplies,
            electricals, roofing sheets, and expert hardware advice. We're ready
            to assist!
          </p>
          <button type="button" class="btn btn-secondary">More Info</button>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="static/dealers.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

<!-- product carousel -->
<div class="container mt-5" id="category">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- 1 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img
                src="static/real.jpg"
                class="card-img-top"
                alt="..."
                style="height: 300px"
              />
              <div class="card-body">
                <h5 class="card-title">Construction & Real Estate</h5>
                <p class="card-text">
                  Who: Contractors, builders, property developers Needs: Cement,
                  steel bars, nails, roofing sheets, tools, electricals,
                  plumbing materials
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="static/diy.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Homeowners & DIY Enthusiasts</h5>
                <p class="card-text">
                  Who: Individuals doing home repairs, improvements, or small
                  projects Needs: Paint, brushes, hammers, locks, light
                  fixtures, garden tools
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="static/technician.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Technicians and Tradespeople</h5>
                <p class="card-text">
                  Who: Electricians, plumbers, carpenters, masons, welders
                  Needs: Specialized tools, wires, switches, pipes, adhesives,
                  safety gear
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 1e -->
      </div>
      <div class="carousel-item">
        <!-- 2 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="static/industry.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  Manufacturing & Industrial Facilities
                </h5>
                <p class="card-text">
                  Who: Factories and industrial plants Needs: Power tools,
                  lubricants, fasteners, PPE, electrical controls, machinery
                  spares
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="static/school.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Hospitals & Schools</h5>
                <p class="card-text">
                  Who: Maintenance departments in institutions Needs: Electrical
                  supplies, plumbing parts, safety equipment, paint, tools
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="static/supermarket.jpeg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Retail Shops & Supermarkets</h5>
                <p class="card-text">
                  Who: Businesses setting up or maintaining shop infrastructure
                  Needs: Shelving brackets, locks, signage tools, lighting, hand
                  tools
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 2e -->
      </div>
      <div class="carousel-item">
        <!-- 3 -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img
                src="static/office.jpg"
                class="card-img-top"
                alt="..."
                style="height: 300px"
              />
              <div class="card-body">
                <h5 class="card-title">Offices & Commercial Buildings</h5>
                <p class="card-text">
                  Who: Facility managers, property managers Needs: Maintenance
                  tools, door locks, bathroom fittings, lighting
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="static/farm.jpeg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Agriculture & Farming</h5>
                <p class="card-text">
                  Who: Small to large-scale farmers Needs: Fencing materials,
                  irrigation pipes, water tanks, wheelbarrows, hoes, solar
                  equipment
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="static/hotel.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Hotels & Apartments</h5>
                <p class="card-text">
                  Who: Maintenance staff in hospitality Needs: Bathroom
                  fittings, lighting, toolkits, paint, plumbing spares
                </p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"
                  ><div class="d-grid">
                    <button class="btn btn-primary" type="button">Go to</button>
                  </div></small
                >
              </div>
            </div>
          </div>
        </div>
        <!-- 3e -->
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
