{% extends "base.html" %} {% block title%} login page {% endblock %} {% block
content%}
<div class="container mt-5">

    <div class="d-flex justify-content-center text-center">
      

      
          <!--  -->
          <div class="card" style="width: 20rem">
            <h2 class="card-title">Welcome to Tropic Hardware Store</h2>
            <p class="card-text">
              Log in to your account to check your previous orders,<br />or
              create a Tropic account.
            </p>
            <div class="card-body">
              <form action="/login" method="POST">
                <div class="mb-3 d-flex justify-content-center input-group">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa-solid fa-envelope"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control w-75"
                    name="email"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="mb-3 d-flex justify-content-center input-group">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa-solid fa-lock"></i
                  ></span>
                  <input
                    type="password"
                    name="password"
                    class="form-control w-50"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                </div>
                <div class="text-center d-grid">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <br />
                <p>
                  Don't have an account yet?
                  <a href="/register">Register</a>
                </p>
              </form>
            </div>
          </div>
          <!--  -->
      
    </div>


</div>

{% endblock %}
